@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

:root {
    --white: hsl(0, 100%, 100%);
    --grey500: hsl(0, 0%, 63%);
    --grey800: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);


    --small-font-size: 1rem;
    --normal-font-size: 1rem;
    --large-font-size: 1.25rem;
    --xlarge-font-size: 1.75rem;

    --normal-line-height: 1.1rem;

    --slide-img-width: 100vw;
    
    --text-slide-columns-width: 100vw;
    --slide-text-width: 85vw;
    --slide-duration: 1s;
}

body {
    font: 1rem "League Spartan", sans-serif; /* Weights: 500, 600, 700*/
    width: 100vw;
    height: 100vh;   
}

ul {
    list-style: none;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay--open {
    display: block;
}

/* Nav Bar */

.mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;

    padding: 1rem;
    padding-block: 1.75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    z-index: 98;
}

.openNavBtn {
    background-color: transparent;
    background-image: url("./images/icon-hamburger.svg");
    background-size: cover;
    background-position: center;
    border: none;
    width: 1.25rem;
    height: 1.25rem;

    z-index: 99;
}

.openNavBtn--close {
    background-image: url("./images/icon-close.svg");
}

.nav__list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    z-index: 98;

}

.nav__list--open {
    display: flex;
}

.list__item {
    color: var(--black);
    font-size: var(--small-font-size);
    font-weight: 500;
    text-decoration: none;

    position: relative;
}

.list__item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.4rem;
    transform: translateX(-50%);

    width: 0px;

    transition: width 0.2s;
}


.list__item:hover::after {
    border: 1px solid var(--black);
    width: 50%;
}

/* Slideshow */
.slideshowSection {
    width: 100%;
    overflow: hidden;
}

.imagesSlideContainer{
    position: relative;
    width: var(--slide-img-width);
    /* overflow: clip; */
}

.imagesSlide {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: all var(--slide-duration);
}

.textSlideContainer { 
    display: grid;
    align-items: center;
    overflow: clip;

    z-index: 1;
    background-color: white;
}

.textSlide {
    padding-block: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, var(--text-slide-columns-width));
    justify-items: center;
    transition: all var(--slide-duration);
}

.slide__img {
    width: var(--slide-img-width);
    height: 100%;
}

.textSlide__slide {
    width: var(--slide-text-width);
    height: 100%;
}

.textSlide__header {
    font-size: var(--xlarge-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
}

.description {
    font-size: var(--normal-font-size);
    color: var(--grey500);
    line-height: var(--normal-line-height);
}

.shopLink {
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4rem;

    margin-top: 1.5rem;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.shopLink:hover {
    opacity: 0.4;
}


.arrowBtnsContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowBtn {
    background-color: var(--black);
    padding-inline: 1.25rem;
    padding-block: 1rem;
    border: none;

    position: relative;
}

.arrowBtn:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: white;
    opacity: 0.25;
}

.arrowBtn img {
    width: 0.75rem;
    height: auto;
}

/* BOTTOM SECTION */
.lowerSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.lowerSection__img {
    width: 100%;
    height: auto;
}

.lowerSection__text {
    padding: calc((100vw - var(--slide-text-width)) / 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 48em) {

    .mainHeader {
        justify-content: flex-start;
        gap: 2rem;
    }

    .openNavBtn {
        display: none;
    }

    .nav__list {
        display: flex;
        position: relative;
        background-color: transparent;
    }

    .list__item {
        color: white;
    }

    .list__item:hover::after {
        border-color: white;
    }
}

@media (min-width: 64em) {
    :root {
        --slide-img-width: 60vw;
        
        --text-slide-columns-width: 40vw;
        --slide-text-width: 30vw;
        
        --xlarge-font-size: 2rem;
        --normal-font-size: 1rem;

        --normal-line-height: 1.25rem;

    }

    .mainHeader {
        padding-inline: 3rem;
    }

    .slideshowSection {
        display: flex;
    }

    .lowerSection {
        flex-flow: row nowrap;
        align-items: stretch;
    }

    .lowerSection__text {
        padding: 1.5rem;
        padding-inline: 2rem;
    }

    .lowerSection__img {
        width: 30vw;
    }

    .arrowBtn {
        padding-inline: 1.5rem;
    }

    .arrowBtn img {
        width: 1.25rem;

    }
}

@media (min-width: 80em) {
    :root {
        --small-font-size: 1.25rem;
        --xlarge-font-size: 2.5rem;
        --normal-font-size: 1.25rem;

    }
    .arrowBtnsContainer {
        transform: translateX(100%);
        z-index: 2;   
    }

    .lowerSection__img {
        width: 40vw;
    }
}